@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0b1f3a;
  --secondary: #0f4c81;
  --accent: #2563eb;

  --bg: #f8fafc;
  --card: #ffffff;

  --text: #0f172a;
  --muted: #64748b;
}
